
.fleutext {
  width: 100%;
  height: 100%;
  resize: none;

  background-color: rgba(0,0,0,0.3);
  border: solid 2px rgba(0,0,0,0.1);
  border-radius: 4px;

  padding: 1em;
  box-sizing: border-box;
}

.fleutext:focus {
  border-color: rgba(255,255,255,0.3);
}

.fleuview {
  width: 100%;
  height: 100%;

  border: solid 2px rgba(0,0,0,0.1);
  border-radius: 4px;

  padding: 1em;
  box-sizing: border-box;

  overflow: auto;
}

.fleuview pre {
  background-color: rgba(0,0,0,0.1);
  padding: 0.5em;
}

.fleu-bullet {
  padding-left: 2em;
}
.fleu-bullet:before {
  content: '• '
}

.fleu-doublebullet {
  padding-left: 4em;
}

.fleu-doublebullet:before {
  content: '○ '
}

.fleu-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.75em;
}
