html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#site {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cafe7;
}

.box {
  width: 500px;
  height: 500px;
  margin: 1em;
}

